---
import type {  Comment } from "@lib/article/types"
import CommentItem from "@components/list/comment.item.astro"

interface Props {
	comments?: Comment[]
}

const { comments } = Astro.props

const haveComments = comments && comments.length > 0
---

<div class='flex flex-col'>
  {haveComments && <h2 class="text-2xl font-bold">Comments</h2>}
	{haveComments && comments.map((comment) => (
		<CommentItem comment={comment} />
		<div class="divider"></div>
	))}
</div>
