---
import Layout from '@layout/layout.astro'
---

<Layout showNav={false}>
	<section class='prose prose-lg max-w-7xl flex flex-col gap-5'>
		<h1>404</h1>
		<p>Page not found</p>
	</section>
</Layout>
