---
import Layout from '@layout/layout.astro'
import ArticleList from '@components/list/article.astro'
import type { Article } from '@lib/article/types'

const actionManager = Astro.locals.actionManager

const articles: Article[] = await actionManager.execute('article.list', {})
---

<Layout title='Astro minimal blog'>
	<section class='flex place-content-center'>
		<ArticleList articles={articles.reverse()} />
	</section>
</Layout>
